In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# https://github.com/PacktPublishing/Pandas-Cookbook/tree/master/data

In [2]:
movies = pd.read_csv('data/movie.csv')

In [3]:
movies.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [10]:
indices = movies.index
type(indices)

pandas.core.indexes.range.RangeIndex

In [11]:
issubclass(pd.RangeIndex, pd.Index)

True

In [8]:
columns = movies.columns

In [45]:
movies.shape # (row, column)

(4916, 28)

## Series <--> DF

In [13]:
director = movies['director_name']

In [16]:
type(director)

pandas.core.series.Series

In [18]:
dir_name = director.to_frame()
type(dir_name)

pandas.core.frame.DataFrame

In [20]:
dir_name.head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

## methods of pd.Series

In [23]:
# dir(pd.Series)

### value counts

In [42]:
%%timeit
ranked = movies['director_name'].value_counts()
ranked[:10]

4.41 ms Â± 897 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [28]:
type(ranked)

pandas.core.series.Series

In [43]:
%%timeit
ranked2 = movies[['director_name', 'color']].groupby('director_name').count().sort_values('color', ascending=False)
ranked2[:10]

11.8 ms Â± 966 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [39]:
type(ranked2)

pandas.core.frame.DataFrame