In [1]:
import re

In [16]:
this = re.search('[a-z]+','a')

In [19]:
this.group(0)

'a'

In [272]:
this = re.findall(r'((\D)\2{2,3}).((\D)\4{2,})\d*\@','bbb.kkk36@gmail.com	')

In [273]:
len(this)

1

In [79]:
this = re.search('(a{3}|b{3}|c{3}|d{3}).(\D){3}[\d]*','aaa.zzz1')

In [80]:
this.group(0)

'aaa.zzz1'

In [ ]:
((\w)\2{2,})

In [193]:
this = re.findall(r'(\D){3}.','aaaa.zzz')

In [194]:
this

['a', 'z']

In [173]:
bool(re.search(r'[a-z]*([a-z])\1([a-z])\2', 'zoo'))

False

In [259]:
import pandas as pd
import numpy as np

In [260]:
df  = pd.read_csv('FrNV9GNVX5.csv')

In [261]:
df.head()

,user_uuid,email,firstname,lastname,banned
0,f397ec23-43d9-4a91-b0b4-195b98501006,sonipoojasoni643@gmail.com,Soni,Soni,False
1,fd2e3a08-8912-4991-836e-98c1638f81d5,sonisoni3101@gmail.com,Soni,Soni,False
2,303e8b63-e688-484c-af01-0dcffbd6c714,shujingwei19790912@163.com,Sk,Sk,False
3,4447dea3-b0bc-4487-ba30-937f8630592b,bbb.kkk36@gmail.com,soni,sk,False
4,4bc6c069-5c25-484f-b71b-2a8780346cc8,phone-only-user-4bc6c069-5c25-484f-b71b-2a8780...,sk,sk,False

In [275]:
def bad_email_v1(email):
    match = re.findall(r'((\D)\2{2,3}).((\D)\4{2,})\d*\@',email)
    if len(match) == 0:
        return False
    else:
        return True

In [276]:
df['bad_email'] = df['email'].apply(bad_email_v1)

In [279]:
bad_users = df[df['bad_email']]['user_uuid']

In [283]:
bad_users.to_csv('bad_users.csv', index=False)